/* Base styles for all screen sizes */

.heroSection {
  display: flex;
  background-image: url('../../assets//images/herosec.jpg');
  background-size: cover; /* You can adjust this to 'contain' or other values */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-color: #EEEEEE;
  background-position: center; /* A fallback background color */
  height: 600px;
  flex-shrink: 0;
  font-family: "Poppins";
  flex:1;
}

.heroContent {
  padding-top: 80px;
}

.heroTitle {
  color: #FFF;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.heroText {
  color: #FFF;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  width: 500px;
}

.hero_action_button{
  background: #D81632;
  width: 278px;
  height: 51px;
  flex-shrink: 0;
  display: flex;
  color: #FFF;
}

.hero_action_button_text{
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin: auto;
  display: flex;
  align-items: center;
}

.hero_action_button:hover{
  color: #D81632;
  border: 1.5px solid;
  background: rgba(255, 255, 255, 0.00);
}

#arrow_forward_2 {
  fill: #FF5733; /* Set the desired color here */
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 991px) {

  .heroContent {
    padding-top: 4rem;
  }

  .heroTitle {
    font-size: 2.5rem;
  }

  .heroText {
    font-size: 1rem;
    width: auto; 
    line-height: normal;/* Full width on medium screens */
  }

  .hero_action_button {
    width: 234px;
    height:48px
  }

  .hero_action_button_text {
    font-size: 16px;
  }
}

/* Small screens */
@media (max-width: 767px) {

  .heroContent {
    padding-top: 4rem;
  }
  .heroTitle {
    font-size: 2rem;
  }

  .heroText {
    font-size: 1rem;
    width: auto; 
    line-height: normal;/* Full width on small screens */
  }

  .hero_action_button {
    width: 234px;
    height:48px
  }

  .hero_action_button_text {
    font-size: 14px;
  }
}