.hero__content h2 {
  font-weight: 600;
  line-height: 55px;
}

.hero__content {
  padding-top: 80px;
}

.search {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
  margin: 0 auto 20px;
}

.search__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1rem;
}

.search__button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.search__button i {
  font-size: 1rem;
  color: #e31837;
}

.search__button:hover {
  transform: scale(1.2);
}
