/* Add your CSS classes here */
.dropdown-question{
  background-image: none;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    line-height: 38px;
    outline: none;
    padding-left: 0;
    padding-right: 6px;
    position: relative;
    text-align: left !important;
    transition: all .2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    margin-bottom: 10px;
    border-width: thin;
}

.dropdown_question-text{
  margin-bottom: 10px;
}
  /* Add more styles as needed */
  
