.single__feature h2 i {
  font-size: 2.5rem;
}

.single__feature h6 {
  font-weight: 600;
  text-align: center;
}

.single__feature{
border: solid;
border-width: thin;
border-color: #cecece;
padding: 20px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
margin: 10px;
margin-left: auto;
margin-right: auto;
text-align: left;
}

.choose__content {
padding: 30px;
}

.key_features {
  color: #000;
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;
}

.features_section{
  padding-top: 20px;
  padding-bottom:40px ;
}

.features_section_heading{
  
}


@media (min-width: 768px) and (max-width: 991px) {

  .key_features {
    color: #000;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
  }
}

/* Small screens */
@media (max-width: 767px) {
  .key_features {
    color: #000;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
  }

  .features_section_heading{
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
  }

  .features_section_p{
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }

  .choose__content {
    padding: 30px;
    }

}
