.section_chooseus{
    background-color: #EEEEEE;
}

.choose__img img {
  width: inherit;
  max-height: 350px;

}

.choose__content {
  padding-right: 50px;
  padding-top:40px ;
}

.choose__content h2 {
  font-weight: 600;
}

.choose__img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.play__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.play__icon i {
  color: #e31837;
  font-size: 2rem;
  padding: 10px;
}

.course_all_link{
  text-align: center;
  text-decoration: none;
  color:red ;
  font-weight: 400;
}

.course_all_link:hover{
  text-align: center;
  text-decoration: underline;
  color:red ;
  font-weight: 500;
}
