.sa-page {
  display: flex;
  min-height: 100vh;
}

.container_dic {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  padding: 20px;
  flex-grow: 1;
  margin: 10px;
  border-radius: 8px;
  background-image: url('C:\Source\ielts-mastery-app\src\containers\assets\images\bg-image.png');
}  

.container_dic h1{
  -webkit-text-stroke: 2px #dde9e2;
  color: #e31837;
  font-size: 75px;
  font-weight: 900;
  letter-spacing: 3px;
}

.synonyms-antonyms-page {
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .results-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
  }
  
  .results-table th,
  .results-table td {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
  }
  
  .results-table th {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  .results-table td {
    text-align: left;
  }
  
  .results-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  button {
    background-color: #e31837;;
    color: #fff;
    border: none;
    font-size: large;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  button.active {
    background-color: #b8021d;;
  }

  @media (max-width: 768px) {
    .container_dic h1 {
    -webkit-text-stroke: 1px #fff;
    color: #e31837;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
  }
  }
  