.course_all_link{
  color: #D81632;
  /* font-size: 18px; */
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.course_all_link:hover{
  color: #D81632;
  text-decoration: underline;
}