.audio-player {
    opacity: 1;/* Add some bottom margin to separate from other components */
  }

  audio::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel {
      background-color: #fff;
      color: #fff;
     }