
.App {
  text-align: left;
  font-family: "Poppins";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container-fluid{
  --bs-gutter-x: 10rem !important;
}
body {
  font-family: "Poppins";
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 991px) {
  .container,
  .container-fluid,
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm {
    overflow: hidden;
    font-size: 12px; 
    --bs-gutter-x: 1rem !important; /* Set --bs-gutter-x to 1rem for mobile view */
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
}






