.single_course_item {
  padding-bottom: 15px;
  background-color: #FFF;
  height: 280px;
  flex-shrink: 0;
}

.course_img{
  background: linear-gradient(to bottom, #eee 50%, #fff 50%);
}

.image_testimonial{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.main_design{
  flex-direction: column;
  display: flex;
  margin-left: auto;
  min-width: fit-content;
}

.design{
  display: flex;
  margin-left: auto;
  margin-top: 2rem;
  margin-left: 1.5rem;
  color: #000;
font-family: Poppins;
font-size: 18px;
font-style: italic;
font-weight: 400;
line-height: 150%; /* 27px */
}

.testimonialtitle{
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.testimonial_stars{
  margin-left: 1.5rem;
}

.testimonials_star_container{
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}


/* .enroll a {
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
  color: #e31837;
} */

/* .lesson,
.students,
.rating {
  font-size: 0.9rem;
  color: #0a2b1e;
  font-weight: 500;
}

.lesson i,
.students i,
.rating i {
  font-weight: 400;
} */

/* 
.course_title {
  line-height: 2rem;
}

.course_top_left h2 {
  font-weight: 600;
  text-align: center;
}

.course_top_left {
  text-align: center;
}

.course_top_left p {
  text-align: center;
}

.centered_content {
  margin-top: 40px;
}

.course_btn {
  margin-bottom: -40px;
} */

@media only screen and (max-width: 767px) {

  .single_course_item {
    background: #FFF;
  }
  .course_top_left h2 {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }

  .course_top_left p {
    font-size: 0.8rem; /* Adjust font size for smaller screens */
  }

  .enroll a {
    font-size: 0.8rem; /* Adjust font size for smaller screens */
  }

  .lesson,
  .students,
  .rating {
    font-size: 0.8rem; /* Adjust font size for smaller screens */
  }

  .course_btn {
    margin-bottom: 0; /* Remove negative margin for smaller screens */
  }

  .main_design,
  .design {
    margin-left: 0; /* Remove margin for smaller screens */
  }
}
