.single_course_item {
  padding-bottom: 15px;
  background-color: #FFF;
  height: 280px;
  flex-shrink: 0;
}

.course_img {
  background: linear-gradient(to bottom, #eee 50%, #fff 50%);
}

.image_testimonial {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: 20px;
}

.main_design {
  flex-direction: column;
  display: flex;
  margin-left: auto;
  min-width: fit-content;
}

.design {
  display: flex;
  flex-direction: column; /* Change to column for smaller screens */
  margin-left: auto;
  margin-top: 2rem;
  margin-left: 1.5rem;
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
}

.testimonialtitle {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center; /* Center text for smaller screens */
  margin-top: 1rem; 
  /* Adjust margin for smaller screens */
}

.testimonial_stars {
  margin-left: 1.5rem;
}

.testimonials_star_container {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}

@media only screen and (max-width: 767px) {

  .single_course_item {
    background: #FFF;
    height: auto; /* Set height to auto for smaller screens */
  }

  .image_testimonial {
    margin-left: 0; /* Remove left margin for smaller screens */
    margin-bottom: 1rem; /* Add bottom margin for spacing */
  }

  .design {
    margin-left: 0; /* Remove left margin for smaller screens */
  }

  .testimonialtitle {
    margin-top: 0; /* Remove top margin for smaller screens */
    margin-right: 0; /* Remove right margin for smaller screens */
    text-align: center; /* Center text for smaller screens */
  }

  .testimonial_stars {
    margin-left: 0; /* Remove left margin for smaller screens */
  }

  .testimonials_star_container {
    margin-top: 1rem; /* Adjust top margin for smaller screens */
    margin-left: 0; /* Remove left margin for smaller screens */
  }
}
