
.card{
  height: 250px;
  padding: 20px 30px;
  position: relative;
  background: #FFF;
  margin: 10px;
}

.card_img{
  height: 90px;
  width: 90px;
  border: 2px solid #f2f2f2 ;
  border-radius: 50%;
  position: absolute;
  top: -48px;
  left: 21px;
}

.testimonial_stars {
  margin-left: 1.5rem;
}

.testimonials_star_container {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}

@media only screen and (max-width: 767px) {

  .single_course_item {
    background: #FFF;
    height: auto; /* Set height to auto for smaller screens */
  }

  .image_testimonial {
    margin-left: 0; /* Remove left margin for smaller screens */
    margin-bottom: 1rem; /* Add bottom margin for spacing */
  }

  .design {
    margin-left: 0; /* Remove left margin for smaller screens */
  }

  .testimonialtitle {
    margin-top: 0; /* Remove top margin for smaller screens */
    margin-right: 0; /* Remove right margin for smaller screens */
    text-align: center; /* Center text for smaller screens */
  }

  .testimonial_stars {
    margin-left: 0; /* Remove left margin for smaller screens */
  }

  .testimonials_star_container {
    margin-top: 1rem; /* Adjust top margin for smaller screens */
    margin-left: 0; /* Remove left margin for smaller screens */
  }
}
