.container_course{
  
}

.single__course__item {
  padding: 15px;
}

.course__img img {
  margin-bottom: 20px;
}

.enroll a {
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
  color: #e31837;
}

.lesson,
.students,
.rating {
  font-size: 0.9rem;
  color: #0a2b1e;
  font-weight: 500;
}

.lesson i,
.students i,
.rating i {
  font-weight: 400;
}

.course__title {
  line-height: 2rem;
}

.centered--content {
  margin-top: 40px;
}

.course__btn {
  margin-bottom: -40px;
}

.centered_content{
  text-align: center;
  padding: 20px 0 20px 0;
  color: #000;
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.centered_content_p{
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 866px !important;
  margin: auto;
  margin-bottom: 12px;
}

.course_all_link{
  color: #D81632;
font-family: Poppins;
/* font-size: 18px; */
font-style: normal;
font-weight: 700;
line-height: 32px; /* 177.778% */
text-transform: uppercase;
text-align: center;
}

.course_all_link:hover{
  color: #D81632;
  text-decoration: underline;
}
